*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F7F2;
    /* overflow: hidden; */
}

.wrapper {
    padding: 0px 336px;
    display: flex;
    justify-content: space-between;
}
